<nav class="navbar bg-grey">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
            <a class="navbar-brand" href="./">Sala De Juegos</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="./QuienSoy#quien">Quien</a></li>
                <li><a href="./QuienSoy#que">Ques es</a></li>
                <li><a href="./QuienSoy#donde">Donde</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- First Container -->
<div id="quien" class="container-fluid bg-indigo text-center">
    <h3 class="margin">Quién Soy?</h3>
    <img src="./assets/imagenes/photo.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3>Soy alumno de la UTN FRA, para la materia Laboratorio IV.</h3>
    <p>
        Actualmente estoy trabajando y estudiando remoto, como la gran mayoria. Aun me cuesta poder integrar todo lo relacionado a Angular con Material, ya que mi objetivo es poder realizar pronto una aplicacion propia, que me sirva como base para un modulo de
        ventas y stock.

    </p>
</div>

<!-- Second Container -->
<div id="que" class="container-fluid bg-orange text-center">
    <h3 class="margin">Juego adicional, <strong>GENERALA de un solo tiro</strong> (aun sin poder comenzar).</h3>
    <p class="text-left">
        Las reglas del juego seran simples.
    </p>
    <p class="text-left">
        Generala: se forma cuando después del segundo o tercer tiro se logran los cinco dados con un mismo número y vale 60 puntos. Cuando esto se logra de un solo tiro, se llama generala servida y el jugador automáticamente gana el juego. (Las , probabilidades
        en contra de hacer generala servida, son de 1.295 a 1.)<br/>(Por el momento se realizara un solo tiro)
    </p>
    <p class="text-left">
        Poker: (cuatro de un mismo número). Si es servido vale 45 puntos, en caso contrario 40
    </p>
    <p class="text-left">
        Full: (tres de un mismo número y un par). Si es servido vale 35 puntos, de lo contrario 30.
    </p>
    <p class="text-left">
        Escalera: (1-2-3-4-5 ó 2-3-4-5-6). Si es servida se le otorgan 25 puntos y si no lo es, 20
    </p>
    <!--
        <a href="#" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-file"></span> Descargar PDF
        </a>
    -->
</div>

<!-- Third Container (Grid) -->
<div id="donde" class="container-fluid bg-grey text-center">
    <h3 class="margin">Dónde Funciona?</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
            <img src="./assets/imagenes/who-i-am-1.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
            <img src="./assets/imagenes/who-i-am-2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
            <img src="./assets/imagenes/who-i-am-3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <p>Modificado por <a href="https://github.com/jatilcara1988">Juan Tilcara</a></p>
</footer>