<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align:center">
    <h1>
        {{nuevoJuego.nombre}}!
    </h1>
</div>
<form name="juego">
    <ul>
        <li>
            Primer número: <input [ngModel]="nuevoJuego.primerNumero" placeholder="Ingrese numero" name="primerNumero" type="number" class="form-control" style="width:50%" readonly/>
        </li>
        <li>
            Operador: <input [ngModel]="nuevoJuego.operacion" placeholder="Ingrese operacion" name="operacion" type="text" class="form-control" style="width:50%" readonly/>
        </li>
        <li>
            Segundo número: <input [ngModel]="nuevoJuego.segundoNumero" placeholder="Ingrese numero" name="segundoNumero" type="number" class="form-control" style="width:50%" readonly/>
        </li>
        <li>
            Respuesta: <input [(ngModel)]="nuevoJuego.respuestaIngresada" placeholder="Ingrese respuesta" name="respuestIngresada" type="number" class="form-control" style="width:50%" />
        </li>
        <li>
            <h2 [hidden]="ocultarVerificar"><button (click)="verificar()" class="btn btn-success btn-lg">Verificar {{Tiempo}} </button></h2>
        </li>
        <li>
            <h2 [hidden]="!ocultarVerificar"><button (click)="iniciarNuevoJuego()" class="btn btn-info btn-lg">Nuevo</button></h2>
        </li>
        <li>
            <h2>
                <p *ngIf="!nuevoJuego.solucion && !ocultarVerificar"><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p>
            </h2>
            <h3 [hidden]="!nuevoJuego.gano">Usted adivino el número</h3>
            <h3 [hidden]="nuevoJuego.gano">Usted aún no gano </h3>
        </li>
    </ul>
</form>