<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align:center">
    <h1>
        {{newGame.nombre}}!
    </h1>
</div>
<h2></h2>
<form name="juego">
    <div class="container">
        <div class="player-selection" *ngIf="!showResults">
            <h1 style="text-align:center"><b>Elija para comenzar a jugar</b></h1>
            <div class="card">
                <button class="button" (click)="jugar('rock')">
                    <img class="img-thumbnail" src="./assets/imagenes/rps-rock.png" alt="Piedra" style="width:100%">
                </button>
            </div>
            <div class="card">
                <button class="button" (click)="jugar('paper')">
                    <img class="img-thumbnail" src="./assets/imagenes/rps-paper.png" alt="Papel" style="width:100%">
                </button>
            </div>
            <div class="card">
                <button class="button" (click)="jugar('scissors')">
                    <img class="img-thumbnail" src="./assets/imagenes/rps-scissors.png" alt="Tijera" style="width:100%">
                </button>
            </div>
        </div>
        <div class="result-container" *ngIf="showResults">
            <h1>Resultado</h1>
            <div class="game-over">
                <div class="card">

                    <img class="img-thumbnail" src="./assets/imagenes/rps-{{newGame.playerSelection}}.png" style="width:100%">
                </div>
                <div class="card">
                    <img class="img-thumbnail" src="./assets/imagenes/rps-{{newGame.comSelection}}.png" style="width:100%">
                </div>
                <div style="text-align: center; vertical-align: middle;">
                    <h1>{{newGame.messageResult}}</h1>
                </div>
            </div>
            <button class="button" (click)="iniciarJuego()">Iniciar</button>
        </div>
    </div>
</form>